@import "src/components/variables";

.page-container {

}

.page-content-margin {
  margin-left: 400px;
  margin-right: 400px;
}

.page-header {
  background-color: $primaryWeaker;
  height: 200px;
  display: flex;

  h2, div:nth-child(2) {
    margin: 2rem 4rem;
  }

  h2 {
    flex-grow: 1;
    font-size: 2rem;
    font-weight: 800;
    color: white;
  }

  div:nth-child(2) {

  }

  button {
    margin: 0 8px;
    padding: 12px 24px;
    font-family: Manrope, sans-serif;
    font-size: 1em;
    font-weight: 600;
    background-color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    transition: .15s all ease;
    cursor: pointer;

    &:hover, &:focus {
      background-color: $action;
      color: white;
      transform: translate(0, -3px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    }
  }
}

.page-content-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, .2);
  font-size: 1.2em;
  color: rgb(40, 40, 40);

}

.page-content-card-padded {
  padding: 20px 40px;
}

.page-content {
  margin-top: -80px;
  min-height: 1200px;
  text-align: justify;

  hr {
    color: darken(white, 30%);
    border-style: dashed;
    border-bottom: none;
    margin: 0 -16px;
  }
}

.page-content-attachement-container {
  margin-top: 40px;
  overflow: hidden;
}

.attachement-fullwidth-link {
  width: 100%;
  background-color: white;
  border: none;
  padding: 16px 32px;
  text-align: left;
  box-sizing: border-box;
  transition: .15s all ease;
  cursor: pointer;
  font-family: Manrope, sans-serif;
  font-size: .8em;
  font-weight: 600;

  svg {
    vertical-align: middle;
    margin-right: 20px;
  }

  &:hover {
    color: white;
    background-color: $action;
  }
}

.page-content-attachement-gallery-container {
  position: relative;
  overflow: hidden;

  > .image {
    transition: .4s all ease;
    display: none;

    &.before, &.after, &.current, &.before2, &.after2 {
      display: block;
    }

    > img {
      width: 100%;
    }

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0);
      transition: .2s background ease;
    }

    &:hover:before {
      background: rgba(0, 0, 0, 0.1);
    }

    &.before {
      transform: translateX(-110%);
    }
    &.after {
      transform: translateX(110%);
    }

    &.before2 {
      transform: translateX(-210%);
    }
    &.after2 {
      transform: translateX(210%);
    }

    &:not(.current) .title {
      opacity: 0 !important;
    }

    .title {
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 60px;
      background: rgba(0,0,0, .6);
      color: white;
      transition: .2s all ease;
      padding: 10px 20px;

      h3, p {
        margin: 0;
      }
    }

    &:hover .title {
      opacity: 1;
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}