@import "../variables";

.category-card-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.category-card-container, .category-card-container > div, .category-card-container > div > div {
  height: 100%;
}

.category-card-container > div {
  // padding: 100px 0;
}

.category-card-container > div > div {
  animation: fadeIn;
  animation-duration: .4s;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-basis: content;
}

.category-card-wrapper {
  box-sizing: border-box;
  height: 280px;
  width: 440px;
  flex-basis: content;
}

.category-card {
  flex-basis: fit-content;
  margin: 32px;
  flex-shrink: 1;

  display: block;
  width: 300px;
  height: 160px;
  background-color: rgba(255, 255, 255, .4);
  border: 16px solid #fff;
  border-radius: 8px;
  position: relative;
  transition: .1s all ease;
  cursor: pointer;
  color: $primary;
  text-decoration: none;
  padding: 16px 12px 12px 12px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, .4);

  &:hover, &:focus {
    background-color: rgba(255, 255, 255, .65);
    transform: translate(0, -8px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, .6);
  }

  h2 {
    margin: 0;
    font-weight: 900;
    font-family: Bebas Neue, sans-serif;
    font-size: 2rem;
  }

  .icon {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    text-align: center;

    > div {
      color: $primary;
      padding: 20px 16px;
      display: inline-block;
      background-color: white;
      border-radius: 9999px;
    }
  }
}